*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
build
captures
.gradle
.idea
bin
gen
out
*.iml
.directory
node_modules
local.properties
android/mobile/release/*
ios.xcworkspace/
.DS_Store
.externalNativeBuild